<% provide :title, t(:contact) %>
<h1><%= t :contact %></h1>
<p>
  Abdullah All Mehedi: abdullah.al.mehedi@framgia.com <br>
  Rofi Uddin: md.rofi.uddin@framgia.com <br>
  Rownak Jahan: rownak.jahan@framgia.com <br>
  Zenith Biswas: zenith.biswas@framgia.com
</p>
