common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost
  username: root
  password: 

development:
  <<: *common
  database: tms_development

test:
  <<: *common
  database: tms_test

staging:
  <<: *common
  database: tms_staging

production:
  <<: *common
  database: tms