<tr class="member">
  <td>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: t(".name_placeholder") %>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= link_to_remove_fields t(".remove_button"), f %>
    </div>
  </td>
</tr>
