@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.logo-img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* course css */

.courses {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

select {
  width: 32.8%;
}

.panel-box{
  margin-top: 0px;
}

.panel-course-name{
  font-size: 3em;
}

.panel-course-footer{
  height: 40px;
}

.myTasks {
  width: 20%;
  margin: 25px;
  float: left;
}

.finishCheckbox{
  width: 10px;
  margin-right: 6px !important;
}

.maxDescription {
  min-height: 72px;
}

.tasksHeader {
  font-size: 25px;
  margin-bottom: -5px !important;
}

.submitButtonHolder{
  width: 12em;
  margin-top: 2em;
}

.align_checkbox{
  width: 10px
}

textarea {
  height: 15em !important;
}

.row{
  padding: 0px 18px;
}

.fix_margin{
  margin-top: 10em;
}
.box {
  margin-top: 2em;
  border:1px solid #D8D8D8;
  padding: 15px;
}

.imageFix{
  margin-bottom: 7em;
  -webkit-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
}

.profile_align{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  padding: 28px;
  min-height: 160px;
}

.course{
  font-weight: bold;
}

.subject {
  color:rgb(248, 113, 60);
}

.btnMinWidth{
  min-width: 94px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

