<footer class="footer">
  <small>
    <%= t :system_name %>
    <a href="https://www.facebook.com/FramgiaBangladesh" target="_blank">
      <%= t :footer_text %></a>
  </small> <br>
  <nav>
    <ul>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact) , contact_path %></li>
    </ul>
  </nav>
</footer>
