<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "", class:"logo-img"), root_path %>
    <%= link_to t(:system_name), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:home), root_path %></li>
        <li><%= link_to t(:log_in), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
